CompileFlags:
  Add:
    - -Wno-unused-value
    - -std=c++26
    - --driver-mode=g++
  Remove:
    - -freflection
    - -fcontracts
    - -fcontract-evaluation-semantic=*
    - -std=c++2c
    - -D__cpp_impl_reflection=202603L
    - -D__glibcxx_reflection=202603L
Diagnostics:
  Suppress:
    - drv_unknown_argument
    - UnknownArgument
    - UnknownIdentifier
    - ExpectedExpression
    - InvalidToken
    - UnknownType
    - UnusedIncludes
Index:
  StandardLibrary: Yes
