---
Checks: |
  *,
  -altera-*,
  -android-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -cert-err60-cpp,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-*,
  -google-readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -hicpp-explicit-conversions,
  -llvmlibc-*,
  -llvm-header-guard,
  -llvm-include-order,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-identifier-length,
  -readability-convert-member-functions-to-static,
  -readability-avoid-do-while-macro,                    # <<< Catch2
  -readability-static-definition-in-anonymous-namespace, # <<< Catch2
  -readability-redundant-access-specifiers,
  -readability-braces-around-statements,
  -unused-includes,

WarningsAsErrors: '*'
HeaderFilterRegex: ^(?!.*catch2)
HeaderFileExtensions: [ hpp ]
ImplementationFileExtensions: [ cpp ]
FormatStyle:     none
ExtraArgsBefore: [ -std=c++23 ]
...
